*/.gitignore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/libs
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
out/
gen/
/libs
build.xml
ant.properties
local.properties
project.properties
.classpath
.project
.idea/
.idea/.name
*.iml
*.ipr
*.iws
